# Fork containing the mobile FR3 USD used by the Task 3 launchers.
[submodule "third_party/franka_description"]
	path = third_party/franka_description
	url = https://github.com/HCIS-Lab/franka_description.git
[submodule "newton"]
	path = newton
	url = https://github.com/newton-physics/newton.git
